In [1]:
import math

r = float(input("Enter the radius: "))

def area(radius):
    return math.pi * radius ** 2

circumference = lambda radius: 2 * math.pi * radius

print("Area =", round(area(r), 2))
print("Circumference =", round(circumference(r), 2))

Enter the radius: 4
Area = 50.27
Circumference = 25.13

In [2]:
import re

text = input("Enter a string: ")

numbers = re.findall(r'\d+', text)
numbers = list(map(int, numbers))

def total(nums):
    return sum(nums)

double = lambda x: x * 2

print("Numbers found:", numbers)
print("Sum:", total(numbers))
print("Doubled value:", double(total(numbers)))

Enter a string: nasayem7
Numbers found: [7]
Sum: 7
Doubled value: 14

In [3]:
import math

data = input("Enter numbers separated by commas: ")

nums = list(map(float, data.split(",")))

def square_list(lst):
    return list(map(lambda x: x**2, lst))

squares = square_list(nums)

max_square = max(squares)
root_sum = math.sqrt(sum(squares))

print("Squares:", squares)
print("Maximum square:", max_square)
print("Square root of sum of squares:", root_sum)

Enter numbers separated by commas: 1234
Squares: [1522756.0]
Maximum square: 1522756.0
Square root of sum of squares: 1234.0

In [4]:
import re
import math

password = input("Enter password: ")

upper = re.search(r'[A-Z]', password)
lower = re.search(r'[a-z]', password)
digit = re.search(r'\d', password)

if upper and lower and digit:
    print("Password is strong")
else:
    print("Password is weak")

scores = list(map(float, input("Enter 5 scores separated by space: ").split()))

def average(lst):
    return sum(lst) / len(lst)

avg_lambda = lambda x: x
avg = avg_lambda(average(scores))

rounded = math.ceil(avg)

print("Rounded average:", rounded)

Enter password: nsssn1234
Password is weak
Enter 5 scores separated by space: 12345
Rounded average: 12345

In [5]:
import re
import math

text = input("Enter a paragraph: ")

words = re.findall(r'\b[aeiouAEIOU]\w*', text)

def count_vowels(t):
    return len(re.findall(r'[aeiouAEIOU]', t))

lengths = list(map(lambda w: len(w), words))

if len(lengths) > 0:
    avg_len = round(sum(lengths) / len(lengths), 2)
else:
    avg_len = 0

print("Words starting with vowels:", words)
print("Total vowels:", count_vowels(text))
print("Average vowel-word length:", avg_len)

Enter a paragraph: nasayem salem alqahtani
Words starting with vowels: ['alqahtani']
Total vowels: 9
Average vowel-word length: 9.0

In [7]:
nums = []

for i in range(5):
    n = float(input("Enter number: "))
    nums.append(n)

print("Sum:", sum(nums))
print("Average:", sum(nums)/len(nums))
print("Maximum:", max(nums))
print("Minimum:", min(nums))

Enter number: 123456
Enter number: 12345
Enter number: 1234
Enter number: 123
Enter number: 12
Sum: 137170.0
Average: 27434.0
Maximum: 123456.0
Minimum: 12.0

In [9]:
words = []

for i in range(5):
    w = input("Enter word: ")
    words.append(w)

words_tuple = tuple(words)

print("First word:", words_tuple[0])
print("Last word:", words_tuple[-1])
print("Total words:", len(words_tuple))

check = input("Enter word to search: ")

if check in words_tuple:
    print("Word found")
else:
    print("Word not found")

Enter word: nasayem
Enter word: salem
Enter word: alqahtani
Enter word: n
Enter word: s
First word: nasayem
Last word: s
Total words: 5
Enter word to search: n
Word found

In [10]:
students = {}

for i in range(3):
    name = input("Enter student name: ")
    score = float(input("Enter score: "))
    students[name] = score

print("All students and scores:")
for k, v in students.items():
    print(k, ":", v)

highest = max(students, key=students.get)

print("Highest score student:", highest)

Enter student name: nasayem
Enter score: 100
Enter student name: salem
Enter score: 99
Enter student name: turki
Enter score: 98
All students and scores:
nasayem : 100.0
salem : 99.0
turki : 98.0
Highest score student: nasayem

In [11]:
list1 = list(map(int, input("Enter first list numbers separated by space: ").split()))
list2 = list(map(int, input("Enter second list numbers separated by space: ").split()))

set1 = set(list1)
set2 = set(list2)

print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference:", set1 - set2)

Enter first list numbers separated by space: 9
Enter second list numbers separated by space: 8
Union: {8, 9}
Intersection: set()
Difference: {9}

In [12]:
names = []

for i in range(5):
    n = input("Enter name: ")
    names.append(n)

names_tuple = tuple(names)
print("Tuple:", names_tuple)

name_dict = {}

for name in names:
    name_dict[name] = len(name)

print("Dictionary:", name_dict)

length_set = set(name_dict.values())

print("Unique name lengths:", length_set)

Enter name: nasayem
Enter name: salem
Enter name: alqahtani
Enter name: turki
Enter name: almas
Tuple: ('nasayem', 'salem', 'alqahtani', 'turki', 'almas')
Dictionary: {'nasayem': 7, 'salem': 5, 'alqahtani': 9, 'turki': 5, 'almas': 5}
Unique name lengths: {9, 5, 7}